# server\src\index.ts
PORT =
CONNECTION_URI =
CLIENT_URL =

# server\src\middlewares\session-middleware.ts
SESSION_SECRET =

# server\src\routes\auth.ts
GOOGLE_CLIENT_ID =
GOOGLE_CLIENT_SECRET =
SERVER_URL =

# server\src\libs\s3-client.ts
REGION =
BUCKET_NAME = 
AWS_ACCESS_KEY_ID = 
AWS_SECRET_ACCESS_KEY =